/* Override this file to add your own style adjustments */
.Subhead {
  border-bottom: 2px #002e63 solid;
}

/*googleカスタム検索用*/
.insite-search {
  border-bottom: solid 1px #cccccc;
}

.new-article-list {
  list-style-type: none;
}


#___gcse_0,
#___gcse_1{
    # margin-bottom: 50px;
}
.gsc-input-box {
    border: none!important;
}
td#gs_tti50,
div#___gcse_1{
    border: 5px solid #eee;
    # padding: 20px 10px;
    border-radius: 30px;
}
.cse .gsc-search-button-v2,
.gsc-search-button-v2{
    padding: 18px 21px!important;
    border: none!important;
    border-radius: 0!important;
    -moz-border-radius:  0!important;
    -webkit-border-radius: 0!important;
    border-color: none!important;
    background-color: none!important;
    background-image: none!important;
    background: none!important;
    position: absolute;
    right: 55px;
    bottom: 3px
}
.under_3col_side .gsc-search-button-v2{
    right: 18px;
}
#___gcse_1 .gsc-search-button-v2{
    bottom: -17px;
}
.gsc-search-button-v2 svg {
    fill: #aaa!important;
    width: 25px;
    height: 25px;
}
td.gsc-search-button{
    position: relative;
    width: 0;
    display: none;
}
.slabel {
    padding-left: 20px;
    margin-bottom: 10px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input{
    padding-right: 0;
}
